---
import { Button } from "@/components/ui/button";
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { dateAgo } from "@/lib/dayjs";
import { serverComponentClient } from "@/lib/supabaseClient";

export function getStaticPaths() {
  return [{ params: { page: "1" } }, { params: { page: "2" } }, { params: { page: "3" } }, { params: { page: "4" } }];
}

const { page: pageStr } = Astro.params;
const page = Math.max(1, parseInt(pageStr ?? "1"));

const supabase = serverComponentClient(Astro.cookies);

const { data: majors } = await supabase
  .from("majors")
  .select()
  .order("code")
  .range((page - 1) * 40, page * 40 - 1);
const { data: posts } = await supabase.from("posts").select();
const { data: userCount } = await supabase.rpc("user_count");
const { count: coursesCount } = await supabase.from("courses").select("*", { count: "exact", head: true });
const { count: schedulesCount } = await supabase.from("schedules").select("*", { count: "exact", head: true });
---

<Layout title="Info | ITU Scheduler">
  <main class="flex flex-col xl:flex-row align-middle gap-8 prose dark:prose-invert max-w-none m-8">
    <section class="w-full xl:w-1/5 align-top">
      <Card className="text-center">
        <CardHeader>
          <CardTitle>Statistics</CardTitle>
          <hr />
        </CardHeader>
        <CardContent>
          <CardTitle>ITUscheduler has</CardTitle>
          <strong>{userCount}</strong> users

          <CardTitle>Users have created</CardTitle>
          <strong>{schedulesCount}</strong> schedules

          <CardTitle>This semester has</CardTitle>
          <strong>{coursesCount}</strong> courses

          <CardHeader>
            <CardTitle>Last Refresh</CardTitle>
            <hr />
          </CardHeader>
          {
            majors?.map((major) => (
              <p>
                <strong>{major.code}</strong>: {dateAgo(major.refreshed_at)}
              </p>
            ))
          }
        </CardContent>
        <CardFooter id="pagination" className="justify-center gap-2">
          <a href="/info/1#pagination">
            <Button variant={page === 1 ? "default" : "outline"} className="rounded-full" size="sm">1</Button>
          </a>
          <a href="/info/2#pagination">
            <Button variant={page === 2 ? "default" : "outline"} className="rounded-full" size="sm">2</Button>
          </a>
          <a href="/info/3#pagination">
            <Button variant={page === 3 ? "default" : "outline"} className="rounded-full" size="sm">3</Button>
          </a>
          <a href="/info/4#pagination">
            <Button variant={page === 4 ? "default" : "outline"} className="rounded-full" size="sm">4</Button>
          </a>
        </CardFooter>
      </Card>
    </section>

    <section class="w-full xl:w-3/5">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="container">
            <h2>Welcome to ITU Scheduler!</h2>
            <hr />
            <h4 style="line-height: 1.3em;">
              ITUscheduler is an <a href="https://github.com/dorukgezici/ituscheduler-go" target="_blank">open-source</a
              >
               web application that allows Istanbul Technical University students to browse up-to-date & detailed
              information about courses and create schedules with ease. It has features like course queries according to
              days, notifying the user if a course is removed from SIS, exporting the schedule and so on. We also have
              some features planned like automatic schedule generation, displaying data from previous years,
              prerequisite checking, etc..
            </h4>

            <p class="text-center">
              Developed by <a href="https://doruk.gezici.me" target="_blank">Doruk Gezici</a> & <a
                href="https://github.com/mehmetaltuner"
                target="_blank">Mehmet Altuner</a
              >
            </p>
            <p class="text-center text-sm italic">
              We do not guarantee or can be responsible for the accuracy of information found here. If in doubt, please
              check <a href="https://www.sis.itu.edu.tr" target="_blank">SIS</a>.
            </p>
          </div>
          <hr />
        </div>
      </div>
      <div class="container">
        {
          posts?.map((post) => (
            <div class="media">
              <div class="media-body">
                <h5 class="media-heading">
                  by <strong>{post.author}</strong>, {post.date}
                </h5>
                <p set:html={post.content} />
                <hr />
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section class="w-full xl:w-1/5">
      <a
        class="twitter-timeline"
        data-height="2150"
        data-theme="dark"
        data-chrome="transparent"
        href="https://twitter.com/ITUscheduler"
      >
        Tweets by ITUscheduler
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
  </main>
</Layout>
