---
import CourseFilter from "@/components/CourseFilter";
import CourseTable from "@/components/CourseTable";
import Layout from "@/layouts/Layout.astro";
import { serverComponentClient } from "@/lib/supabaseClient";
import { $selectedMajor } from "@/store";

const supabase = serverComponentClient(Astro.cookies);
const {
  data: { session },
} = await supabase.auth.getSession();

const { data: majors } = await supabase.from("majors").select("code").order("code");
const { data: courseCodes } = await supabase.from("course_codes").select().eq("major_code", $selectedMajor.get());
const { data: courses } = await supabase
  .from("courses")
  .select("*, lectures(*)")
  .eq("major_code", $selectedMajor.get());
const { data: myCourses } = await supabase
  .from("user_courses")
  .select()
  .eq("user_id", session?.user.id ?? "");
const { data: selectedMajor } = await supabase
  .from("majors")
  .select("refreshed_at")
  .eq("code", $selectedMajor.get())
  .single();
---

<Layout title="Courses | ITU Scheduler">
  <div class="container lg:max-w-[2200px] grid place-items-center pb-8 pt-6 md:py-10 gap-24">
    <div class="flex flex-wrap justify-center gap-y-4 w-full overflow-auto">
      <div class="sm:w-2/5 md:w-1/5 lg:w-1/6">
        <CourseFilter majors={majors} selectedMajor={selectedMajor} client:load />
      </div>

      <div class="w-full sm:w-3/5 md:w-4/5 lg:w-5/6">
        <CourseTable
          session={session}
          myCourses={myCourses}
          majors={majors}
          courseCodes={courseCodes}
          courses={courses}
          selectedMajor={selectedMajor}
          client:load
        />
      </div>
    </div>
  </div>
</Layout>
